* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #f1f5f9;
}

.card {
  border: 1px solid #f4f4f4;
  max-width: 300px;
  padding: 1rem 1.5rem;
  margin: 3rem auto;
  text-align: center;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
}
.card-1 {
  border: 1px solid #ff69a6;
}
.card-2 {
  border: 1px solid #68a3ff;
}
.title {
  text-transform: capitalize;
  letter-spacing: 2px;
}
.text {
  font-size: 0.8rem;
  line-height: 1.5;
  color: grey;
  margin-bottom: 0.5rem;
}
.icon {
  width: 40px;
  height: 40px;
  background: #68a3ff;
  border-radius: 50%;
  margin: 0 auto;
}
.btn {
  text-transform: capitalize;
  color: #fff;
  display: inline-block;
  font-size: 0.8rem;
  border: transparent;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.3rem 0.8rem;
  letter-spacing: 2px;
}
.btn-pink {
  background: pink;
  color: #ff69a6;
}
.btn-blue {
  background: #ecf4ff;
  color: #68a3ff;
}
.bg-pink {
  background: #ff69a6;
}
.bg-blue {
  background: #68a3ff;
}
